/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* Work sans font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn_primary {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 38px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}

/* Header section start */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    padding: 45px 0;
    margin: 0 auto;
}

.logo_container {
    display: flex;
    align-items: center;

}

.logo_container img {
    width: 86px;
    height: 40px;
}

.logo_container span {
    color: #FF42A5;

}

.logo_container .logo_text {
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

.nav_menus {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    /* width: 50%; */
}

.nav_menus a {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.menus_btn {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 20px 25px;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
/* Header section end */

/* Banner section start */
.banner_container {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.banner_text_container .banner_heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner_text_container .banner_sub_heading {
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_text_container .banner_description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px 0;
}

.btn_sign_in {
    background: #FF42A5;
}

.btn_sign_in:hover {
    background: #da0070ad;
}

.btn_go_rogue {
    background: #4EC5F7;
    margin-left: 20px;
}

.btn_go_rogue:hover {
    background: #0294d3c4;
}

.banner_text_container i {
    color: #FF42A5;
    margin-right: 5px;
}

.banner_text_container button {
    margin-top: 20px;
}

.banner_image_container {
    width: 50%;
}

.banner_image_container img {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}
/* Banner section end */

/* Gamer section start */
.gamer_section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer_container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.gamer_image_container {
    width: 50%;
}

.gamer_image_container img {
    width: 100%;
    height: 100%;
}

.gamer_text_container {
    width: 50%;
    text-align: right;
    padding-top: 100px;
    margin-bottom: 50px;
}

.gamer_text_container .gamer_heading {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer_text_container .gamer_description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.btn_know_more {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin: 10px 0;
}

.btn_know_more:hover {
    background: #da0070ad;
}

.gamer_text_container .gamer_sub_description {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.gamer_text_container .gamer_sub_text {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}
/* Gamer section end */

/* Funny game section start */
.funny_game_container {
    max-width: 1240px;
    margin: 30px auto;
    text-align: center;
}

.funny_game_container .funny_game_heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}


.funny_game_container .funny_text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny_game_container .funny_game_description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 15px 0 25px;
}

.game_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.game_card_container .game_card img {
    width: 100%;
}

.game_card_container p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
}

/* Funny game section end */

/* Play instant section start */
.play_instantly_section {
    max-width: 1240px;
    margin: 80px auto;
}

.play_instantly_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.play_instantly_text {
    width: 50%;
}

.play_instantly_image {
    width: 50%;
}

.play_instantly_image .play_first_img {
    width: 100%;
}


.play_instantly_text {
    text-align: right;
    margin-right: 120px;
}

.play_instantly_text .Play_instantly_heading {
    font-size: 48px;
    font-weight: 700;
}

.play_instantly_text .Play_instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_instantly_text .Play_instantly_description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play_instantly_image .img {
    position: relative;
}

.play_second_img {
    position: absolute;
    top: 50%;
    left: -25%;
}

/* Play instant section end */

/* <!-- more game section start --> */
.more_games_section {
    max-width: 1240px;
    margin: 170px auto 0;
}

.game_menus_one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
}

.game_menus_two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    background: #FFF;
}

.game_list {
    display: flex;
    align-items: center;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
}

.game_list p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.game_list:hover {
    color: #F948B2;
    border: 1px solid #F948B2;
    border-radius: 50px;
}

.menus_btn:hover {
    color: #fff;
    background-color: #FF42A5;
    transition: 0.5s;
}

/* <!-- more game section end --> */


/* footer section start */
.footer_section {
    background-color: #0B0223;
    margin-top: 70px;
}

.footer_container {
    max-width: 1240px;
    margin: 0 auto;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 100px;
}

.footer_logo .logo_text {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.footer_logo span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer_container .footer_menus {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
}

.footer_container .footer_menus a {
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
}

.social_media_icon {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0;
}

.social_media_icon i {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.terms_and_condition {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 30px 0;
}

.terms_and_condition a {
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 70px;
}

/* footer section end */










/* hover effect */

.menus_btn .facebook {
    color: #F61C0D;
    margin-left: 20px;
    font-size: 30px;
}

.menus_btn .tiktok {
    color: #000000;
    margin-left: 20px;
    font-size: 30px;
}

/* hover effect */